@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  
  --color-primary: #FF5A1F; /* Premium Obytkem Orange */
  --color-accent: #FF5A1F; /* Primary Accent Orange */
  --color-paper: #F4F4F6; /* Premium iPhone Light Titanium Silver background */
}

@layer base {
  body {
    @apply bg-paper text-slate-900 font-sans;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-display font-semibold tracking-tight;
  }
}
